---
log:
- output: stderr
  format: json
  level: {{ jormungandr_log_level }}
leadership:
  logs_capacity: 1024
mempool:
  pool_max_entries: 1000
  log_max_entries: 10000
p2p:
  max_connections: 1024
  topology_force_reset_interval: 30m
  allow_private_addresses: false
  max_bootstrap_attempts: 3
  public_id: e7fcf4af676bf211cd58281145ede11776b9096ba00e8c8c
  max_unreachable_nodes_to_connect_per_event: {{ jormungandr_max_unreachable_nodes_to_connect_per_event }}
  public_address: "/ip4/{{ ipv4_address }}/tcp/{{ jormungandr_public_address_port }}"	
  listen_address: "/ip4/0.0.0.0/tcp/{{ jormungandr_public_address_port }}"
  gossip_interval: {{ jormungandr_gossip_interval }}
  topics_of_interest:
    blocks: high
    messages: high
  trusted_peers:
{% for i in trusted_peers %}
    - address: "{{ i.address }}"
      id: {{ i.id }}
{% endfor %}
rest:
  listen: 127.0.0.1:{{ jormungandr_rest_port }}
explorer:
  enabled: false
storage: "{{ jormungandr_storage_dir }}"
bootstrap_from_trusted_peers: true